.hamburger {
    /* width: 100px; */
    display: none;
    margin-right: 1rem;
    position: relative;
}

.hamburger svg {
    font-size: 2rem;
}

.menuContainer {    
    width: 100%;
    background-color: #0000003f;
    position: absolute;
    top: 10%;
    z-index: 99;
}

.menu {
    margin: 1px;
    background-color: #fff;
    padding: 32px 12px;
    width: 209px;
    border-radius: 12px;
    height: 100vh;
    display: none;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    color: #282828;
    font-size: 16px;
    font-weight: 400;
}

.menu ul li svg {
    margin-left: 0.5rem;
}

@media(max-width: 768px) {
    .hamburger, .menu {
        display: block;
    }

}