@font-face {
  font-family: 'Yekan';
  src: url('/fonts/Yekan.eot') format('embedded-opentype'),
       url('/fonts/Yekan.woff') format('woff'),
       url('/fonts/Yekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: inherit;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Yekan'; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Yekan', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

